In [4]:
import pandas as pd

In [6]:
data = pd.read_csv('bank-data.csv')

In [9]:
print(data)

          id  age     sex      region    income married  children  car  \
0    ID12101   48  FEMALE  INNER_CITY  17546.00      NO         1   NO
1    ID12102   40    MALE        TOWN  30085.10     YES         3  YES
2    ID12103   51  FEMALE  INNER_CITY  16575.40     YES         0  YES
3    ID12104   23  FEMALE        TOWN  20375.40     YES         3   NO
4    ID12105   57  FEMALE       RURAL  50576.30     YES         0   NO
5    ID12106   57  FEMALE        TOWN  37869.60     YES         2   NO
6    ID12107   22    MALE       RURAL   8877.07      NO         0   NO
7    ID12108   58    MALE        TOWN  24946.60     YES         0  YES
8    ID12109   37  FEMALE    SUBURBAN  25304.30     YES         2  YES
9    ID12110   54    MALE        TOWN  24212.10     YES         2  YES
10   ID12111   66  FEMALE        TOWN  59803.90     YES         0   NO
11   ID12112   52  FEMALE  INNER_CITY  26658.80      NO         0  YES
12   ID12113   44  FEMALE        TOWN  15735.80     YES         1   NO
13   ID12114   66  FEMALE        TOWN  55204.70     YES         1  YES
14   ID12115   36    MALE       RURAL  19474.60     YES         0   NO
15   ID12116   38  FEMALE  INNER_CITY  22342.10     YES         0  YES
16   ID12117   37  FEMALE        TOWN  17729.80     YES         2   NO
17   ID12118   46  FEMALE    SUBURBAN  41016.00     YES         0   NO
18   ID12119   62  FEMALE  INNER_CITY  26909.20     YES         0   NO
19   ID12120   31    MALE        TOWN  22522.80     YES         0  YES
20   ID12121   61    MALE  INNER_CITY  57880.70     YES         2   NO
21   ID12122   50    MALE        TOWN  16497.30     YES         2   NO
22   ID12123   54    MALE  INNER_CITY  38446.60     YES         0   NO
23   ID12124   27  FEMALE        TOWN  15538.80      NO         0  YES
24   ID12125   22    MALE  INNER_CITY  12640.30      NO         2  YES
25   ID12126   56    MALE  INNER_CITY  41034.00     YES         0  YES
26   ID12127   45    MALE  INNER_CITY  20809.70     YES         0   NO
27   ID12128   39  FEMALE        TOWN  20114.00     YES         1   NO
28   ID12129   39  FEMALE  INNER_CITY  29359.10      NO         3  YES
29   ID12130   61    MALE       RURAL  24270.10     YES         1   NO
..       ...  ...     ...         ...       ...     ...       ...  ...
570  ID12671   49  FEMALE       RURAL  33665.50      NO         3  YES
571  ID12672   40    MALE  INNER_CITY  36166.20     YES         0   NO
572  ID12673   33  FEMALE    SUBURBAN  27712.90      NO         2   NO
573  ID12674   39    MALE        TOWN  22400.70     YES         2  YES
574  ID12675   43  FEMALE  INNER_CITY  28469.90     YES         0  YES
575  ID12676   37    MALE        TOWN  30488.00     YES         0   NO
576  ID12677   24  FEMALE        TOWN  19160.30     YES         1  YES
577  ID12678   62    MALE        TOWN  45342.50     YES         0  YES
578  ID12679   18    MALE  INNER_CITY   6294.21      NO         0   NO
579  ID12680   47  FEMALE        TOWN  25127.70     YES         0  YES
580  ID12681   63    MALE    SUBURBAN  51879.30     YES         2  YES
581  ID12682   20    MALE        TOWN  12644.90     YES         2  YES
582  ID12683   46  FEMALE        TOWN  21984.40      NO         3   NO
583  ID12684   47  FEMALE       RURAL  29093.10      NO         2  YES
584  ID12685   33    MALE        TOWN  23528.40     YES         1   NO
585  ID12686   20    MALE        TOWN   9516.91      NO         3  YES
586  ID12687   20    MALE  INNER_CITY  18364.90     YES         1   NO
587  ID12688   43  FEMALE        TOWN  31273.80      NO         1  YES
588  ID12689   58    MALE       RURAL  49673.60     YES         0   NO
589  ID12690   29    MALE    SUBURBAN  12623.40     YES         1  YES
590  ID12691   25    MALE  INNER_CITY  23818.60     YES         0   NO
591  ID12692   40  FEMALE  INNER_CITY  31473.90      NO         2   NO
592  ID12693   48    MALE        TOWN  20268.00     YES         0   NO
593  ID12694   65    MALE    SUBURBAN  51417.00     YES         2   NO
594  ID12695   59  FEMALE       RURAL  30971.80     YES         3  YES
595  ID12696   61  FEMALE  INNER_CITY  47025.00      NO         2  YES
596  ID12697   30  FEMALE  INNER_CITY   9672.25     YES         0  YES
597  ID12698   31  FEMALE        TOWN  15976.30     YES         0  YES
598  ID12699   29    MALE  INNER_CITY  14711.80     YES         0   NO
599  ID12700   38    MALE        TOWN  26671.60      NO         0  YES

    save_act current_act mortgage  pep
0         NO          NO       NO  YES
1         NO         YES      YES   NO
2        YES         YES       NO   NO
3         NO         YES       NO   NO
4        YES          NO       NO   NO
5        YES         YES       NO  YES
6         NO         YES       NO  YES
7        YES         YES       NO   NO
8         NO          NO       NO   NO
9        YES         YES       NO   NO
10       YES         YES       NO   NO
11       YES         YES      YES   NO
12       YES         YES      YES  YES
13       YES         YES      YES  YES
14       YES         YES      YES   NO
15       YES         YES      YES   NO
16        NO          NO      YES   NO
17       YES          NO      YES   NO
18       YES          NO       NO  YES
19       YES         YES       NO   NO
20       YES          NO       NO  YES
21       YES         YES       NO   NO
22       YES         YES       NO   NO
23       YES         YES      YES   NO
24       YES         YES       NO   NO
25       YES         YES      YES   NO
26       YES         YES      YES   NO
27        NO         YES       NO  YES
28        NO         YES      YES   NO
29        NO         YES       NO  YES
..       ...         ...      ...  ...
570       NO         YES       NO   NO
571       NO          NO       NO   NO
572      YES         YES       NO  YES
573      YES         YES       NO   NO
574      YES         YES       NO   NO
575      YES         YES      YES   NO
576      YES         YES       NO  YES
577      YES          NO       NO  YES
578      YES         YES      YES   NO
579       NO          NO       NO   NO
580      YES          NO      YES  YES
581       NO         YES      YES   NO
582      YES          NO       NO   NO
583      YES         YES       NO   NO
584      YES         YES      YES  YES
585      YES         YES       NO   NO
586       NO         YES       NO  YES
587      YES          NO       NO  YES
588      YES         YES       NO   NO
589      YES         YES       NO   NO
590       NO          NO       NO   NO
591      YES         YES      YES  YES
592      YES         YES       NO   NO
593      YES         YES       NO  YES
594      YES         YES      YES   NO
595      YES         YES      YES   NO
596      YES         YES       NO   NO
597      YES          NO       NO  YES
598      YES          NO      YES   NO
599       NO         YES      YES  YES

[600 rows x 12 columns]

In [11]:
df = pd.read_csv('input_data.csv')

In [13]:
print(df)

   square_feet  price
0          150   6450
1          200   7450
2          250   8450
3          300   9450
4          350  11450
5          400  15450
6          600  18450